{"name":"Calibrate","owner":"calibratereset","slug":"calibrate","version":"1.0.0","runtimeVersion":"2.2.2","orientation":"portrait","icon":"./assets/icon.png","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#211E3F"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true},"notification":{"icon":"./assets/icon.png","color":"#8F67E9"},"android":{"useNextNotificationsApi":true,"package":"com.app.calibrate"},"androidStatusBar":{"barStyle":"light-content","backgroundColor":"#211E3F"},"web":{"favicon":"./assets/favicon.png"},"scheme":"calibrate","plugins":["sentry-expo"],"sdkVersion":"40.0.0","platforms":["ios","android","web"]}